@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

div, p, h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

:modal {
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

:modal::backdrop {
  background: linear-gradient(45deg, #8b008b, #8b0000);
  opacity: 0.2;
}

@layer components {
  .btn {
    @apply text-gray-400 transition hover:text-gray-400/50;
  }
}

@layer utilities {
  .full {
    @apply absolute top-0 left-0 right-0 bottom-0;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .translate-z-0 {
    transform: translateZ(0);
  }

  .translate-z-1 {
    transform: translateZ(1px);
  }

  .translate-z-5 {
    transform: translateZ(5px);
  }

}

.language-rust {
  padding: 0 !important;
}

.reference {
    @apply text-sm relative bottom-2;
}

.blog {
  @apply text-white;

  h1 {
    @apply text-4xl lg:text-5xl mb-7 font-bold;
  }

  p {
    @apply mb-5 text-xl;
  }

  h2 {
    @apply mt-4 text-3xl text-left mb-3 font-bold;
  }

  h3 {
    @apply mt-4 text-2xl text-left mb-3 font-bold;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: lightgrey;
}
::-webkit-scrollbar-thumb:hover {
  background: #edc567;
}
body {
  overflow: overlay;
}
